body{

font-family:Arial;
margin:0;
background:#0b0f0c;
color:white;

}

header{

background:#0f2d1d;
padding:20px;
text-align:center;
color:#7dff72;

}

nav{

background:#06140d;
display:flex;
justify-content:center;
gap:20px;
padding:10px;

}

nav a{

color:white;
text-decoration:none;

}

.hero{

text-align:center;
padding:80px 20px;
background:linear-gradient(#0c2a19,#020403);

}

.hero button{

background:#25D366;
border:none;
padding:12px 20px;
border-radius:6px;
cursor:pointer;

}

section{

padding:50px 20px;
max-width:1000px;
margin:auto;

}

.products{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;

}

.card{

background:#11261b;
padding:20px;
border-radius:10px;
text-align:center;

}

.card img{

width:100%;
border-radius:10px;

}

input,select{

width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:6px;

}

button{

background:#25D366;
border:none;
padding:12px;
border-radius:6px;
cursor:pointer;

}

footer{

background:black;
text-align:center;
padding:20px;

}
